@model IEnumerable<BookingHotel.Models.LoaiPhong>

@{
    ViewBag.Title = "Loaiphong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Loaiphong</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoaiPhong }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoaiPhong }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoaiPhong })
        </td>
    </tr>
}

</table>
