@model HungProjects.Models.ChinhSach

<div>
    <h4>ChinhSach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã khách sạn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKhachSan)
        </dd>

        <dt>
            Thời gian nhận phòng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianNhanPhong)
        </dd>

        <dt>
            Thời gian trả phòng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianTraPhong)
        </dd>

        <dt>
            Hướng dẫn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HuongDan)
        </dd>

        <dt>
            Chính sách nhận trả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChinhSachNhanTra)
        </dd>

        <dt>
            Chính sách trẻ em: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChinhSachTreEm)
        </dd>

        <dt>
            Bãi đậu xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiDauXe)
        </dd>

    </dl>
</div>
<p>
</p>
